<h1>Hello </h1>

<%= @list.name %>


<div>
  <ul>
    <% @list.movies.each do |movie| %>
      <li>
        <%= movie.title %>
        <%= movie.overview %>
      </li>
    <% end %>
  </ul>
</div>

<hr>

<%= link_to "Home Page", "/" %>
