.navbar-lewagon {
  justify-content: space-between;
  background-image: url("http://s.thestreet.com/files/tsc/v2008/photos/contrib/uploads/movietheaterinterior.jpg");
  height: 400px;
  object-fit: scale-down;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
